@import "tailwindcss";

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: light dark;
  }

  body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
    font-family: system-ui, -apple-system, sans-serif;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
  }

  #root {
    width: 100%;
    height: 100vh;
  }

  @media (prefers-color-scheme: light) {
    body {
      background-color: #ffffff;
      color: #213547;
    }
  }
}
